<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bdqn.arts.dao.ArtistMapper">
    <select id="showArtist" resultType="bdqn.arts.pojo.Artist">
      select * from artist
  </select>
    <resultMap id="artist" type="bdqn.arts.pojo.Artist">
       <association property="user" javaType="bdqn.arts.pojo.User">
           <id property="id" column="uid"/>
           <result property="imagePath" column="pimagePath"/>
       </association>

    </resultMap>
    <select id="getArtist" resultMap="artist">
        SELECT *,u.id as uid FROM `artist` a,`user` u WHERE a.`uid`=u.id AND a.`id`=#{id}
    </select>
    <resultMap id="tist" type="bdqn.arts.pojo.Artist">
        <collection property="alist" ofType="bdqn.arts.pojo.Product">
            <result property="id" column="p_id"/>
            <result property="imagePath" column="pImagePath"/>
            <result property="name" column="pname"/>
        </collection>
    </resultMap>
    <select id="gettist"  resultMap="tist">
   SELECT p.name as pname ,p.`imagePath` as pImagePath,p.id as p_id FROM `artist` a,`product` p  WHERE p.`aid` =a.id AND a.`id`=#{id}
</select>

    <select id="getArtistge" resultType="int">
        SELECT COUNT(p.id) FROM `artist` a,`product` p  WHERE p.`aid` =a.id AND a.`id`=#{id}
    </select>
    <select id="getclassify" resultType="bdqn.arts.pojo.Artist">
        SELECT a.`name`,a.`synopsis`,a.`imagePath` FROM `genre` g,`artist` a WHERE a.`gid`=g.`id` AND g.`id`=#{id}
    </select>
</mapper>